.world-map-viewport {
    /*Die Größe wird jetzt vom Wrapper in GameView.css gesteuert. */
    position: relative;
    overflow: hidden;
    cursor: grab;
    width: 1280px;
    height: 768px;
}

.world-map-viewport:active {
    cursor: grabbing;
}

.world-map-viewport canvas {
    /* Das Canvas soll sich an den Container anpassen, ohne sich zu verzerren */
    display: block;
    max-width: 1280px;
    max-height: 768px;
    width: 1280px;
    height: 768px;
    object-fit: contain; /* WICHTIG: Behält das Seitenverhältnis bei */
    margin: auto; /* Zentriert das Canvas, falls es Ränder gibt */
}

.mouse-coords {
    position: absolute;
    bottom: 165px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: monospace;
    z-index: 1; /* Stellt sicher, dass die Koordinaten über dem Canvas liegen */
}