.draggable-item {
  width: 100%;
  height: 100%;
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.draggable-item:active {
  cursor: grabbing;
}