.equipment-slot {
  width: 55px;
  height: 55px;
  background-color: var(--slot-bg);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease-in-out;
}

.equipment-slot .inventory-slot {
  /* Hebt die Border des Items im Slot auf, damit es nahtlos aussieht */
  border: none;
}
.quiver-counter {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 0.7rem;
    padding: 1px 3px;
    border-top-left-radius: 4px;
    pointer-events: none;
}