.game-view-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    background-color: #111;
    gap: 15px; 
}

.top-section {
    flex-grow: 1; 
    display: grid;
    grid-template-columns: 150px 1240px; 
    gap: 15px;
    overflow: hidden; 
}

.bottom-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "action";
  
  gap: 10px;
  height: 235px; 
  padding: 0 0px 0px 0px; 
  box-sizing: border-box;
}


.party-portraits-area {
}

.world-map-area {
    display: flex;
    width: 1240px; 
    height: 640px; 
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.action-bar-area {
    background-color: #2a2a2a;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}